$primaryColor: #444;

.intro-header {
	background-color: $primaryColor;
}

.grex {

	&-logo {
		height: 50px;
	}

	&-twitter {
		margin-top: 30px;
	}

	&-facebook {
		margin-top: 30px;
	}

	&-zigzag {
		position: relative;

		&::after {
			background: linear-gradient(-45deg, transparent 24px, $primaryColor 0), linear-gradient(45deg, transparent 24px, $primaryColor 0);
			background-position: left-bottom;
			background-repeat: repeat-x;
			background-size: 24px 24px;
			content: " ";
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 24px;
		}
	}

	&-wave {
		background-color: linear-gradient(to right, sandybrown, chocolate);
		height: 50px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			background-repeat: repeat;
			height: 10px;
			background-size: 20px 20px;
			background-image: radial-gradient(circle at 10px -5px, transparent 12px, $primaryColor 13px);
		}
	}
}
